%section.row#exports
  .span12
    %h2
      Exports
      %small
        List of all exports for the current user.
    %hr
  - @exports.each do |export|
    .export.span6
      %h3
        = export.method.titleize
        %small
          = export.format
      %hr
      .wizard{ id: dom_id(export), 'data-export' => "#{export.attributes.merge(url: export.file.expiring_url(300)).to_json}" }
        %ul.wizard-steps
          %li.wizard-step.active
            %span.badge 1
            Queued
            %span.chevron
          %li.wizard-step
            %span.badge 2
            Exporting
            %span.chevron
          %li.wizard-step
            %span.badge 3
            Finished
            %span.chevron
        .wizard-content    
          %h4 Description
          %hr
          %p
            = export.description
          %h4 Filter
          %hr
          = export_filter export.filter
          %h4 Export
          %hr
          .row-fluid
            .span6
              %h5 Created At
              %p
                = export.created_at.to_formatted_s(:short)
            .span6
              %h5 Updated At
              %p
                = export.updated_at.to_formatted_s(:short)
        .wizard-actions