%section.row#exports
  .span12
    %h2
      Exports
      %small
        List of all exports for the current user.
    %hr
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Object
          %th Description
          %th Status
          %th Format
          %th Created At
          %th Updated At
          %th Actions
      %tbody
        - @exports.each do |export|
          %tr
            %td
              = export.id
            %td
              = export.method.titleize
            %td
              = export.description
            %td
              = export.is_exported ? icon('download', 'Finished!') : export.is_exporting ? icon('road', 'In Progress ...') : icon('time', 'In Queue ...')
            %td
              = export.format
            %td
              = export.created_at.to_formatted_s(:short)
            %td
              = export.updated_at.to_formatted_s(:short)
              / = Time.at(export.file.updated_at).to_formatted_s(:short)
            %td
              .btn-group
                - if export.is_exported
                  = link_to(icon('download', nil, true), export.file.expiring_url(300), class: 'btn btn-primary btn-mini')
                - unless export.is_exporting
                  = link_to(icon('remove', nil, true), export_path(export.id), method: :delete, class: 'btn btn-danger btn-mini')
