  <file original="<%= article.id %>" datatype="plaintext"
				source-language="<%= source %>" target-language="<%= target %>"
				desk:published="<%= article.publish_at ? 'true' : 'false' %>"
				desk:show="<%= article.show_in_portal ? 'true' : 'false' %>"
				desk:type="article">
    <body>
      <trans-unit id="subject">
        <source><%= html_decode(source_translation.subject) %></source>
      </trans-unit>
      <trans-unit id="main_content" datatype="htmlbody">
        <source><![CDATA[<%= html_decode(source_translation.main_content) %>]]></source>
      </trans-unit>
      <trans-unit id="agent_content">
        <source><%= html_decode(source_translation.agent_content) %></source>
      </trans-unit>
      <trans-unit id="email">
        <source><%= html_decode(source_translation.email) %></source>
      </trans-unit>
      <trans-unit id="chat">
        <source><%= html_decode(source_translation.chat) %></source>
      </trans-unit>
      <trans-unit id="twitter">
        <source><%= html_decode(source_translation.twitter) %></source>
      </trans-unit>
      <trans-unit id="question">
        <source><%= html_decode(source_translation.question_answer) %></source>
      </trans-unit>
      <trans-unit id="phone">
        <source><%= html_decode(source_translation.phone) %></source>
      </trans-unit>
      <trans-unit id="facebook">
        <source><%= html_decode(source_translation.facebook) %></source>
      </trans-unit>
    </body>
  </file>
