- content_for :title do
  Export
- content_for :tagline do
  This section provides you with a list of all your exports. You can create a new export and lookup the status.

.subnav-container
  .subnav{'data-spy' => 'affix', 'data-offset-top' => '218'}
    = semantic_navigation config: :bootstrap, class: 'nav-pills' do |n|
      - n.item 'Exports', '#exports', class: 'active'
      - n.item 'Cases', '#cases'
      - n.item 'Interactions', '#interactions'
      - n.item 'Customers', '#customers'
      / - n.item 'Users', '#users'
      / - n.item 'Groups', '#groups'
      / - n.item 'Topics', '#topics'
      / - n.item 'Articles', '#articles'
      / - n.item 'Macros', '#macros'
        

= render 'exports/index/export'
= render 'exports/index/cases'
= render 'exports/index/interactions'
= render 'exports/index/customers'
/ = render 'exports/index/users'
/ = render 'exports/index/groups'
/ = render 'exports/index/topics'
/ = render 'exports/index/articles'
/ = render 'exports/index/macros'